[Desktop Entry]
Categories=Application;System;Settings;
Exec=gksu /usr/sbin/salix-live-installer.py
Icon=salix-live-installer
StartupNotify=true
Terminal=false
Type=Application
Name=Salix Installer
Name[de]=Salix Installationsprogramm
Name[fr]=Installateur Salix
Name[el]=Εγκατάσταση του Salix
GenericName=Salix Installer
GenericName[de]=Salix Installationsprogramm
GenericName[fr]=Installateur Salix
GenericName[el]=Εγκατάσταση του Salix
Comment=Install Salix on your computer from a SalixLive session
Comment[de]=Installiere von einer SalixLive Sitzung aus Salix auf dem Computer
Comment[fr]=Installer Salix sur son ordinateur à partir d'une cession SalixLive
Comment[el]=Εγκατάσταση του Salix στον υπολογιστή σας μέσω του περιβάλλοντος SalixLive
